<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: left;">
      <th>Outlet_Size</th>
      <th>High</th>
      <th>Medium</th>
      <th>Small</th>
    </tr>
    <tr>
      <th>Item_Fat_Content</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>LF</th>
      <td>2017.644481</td>
      <td>2672.578269</td>
      <td>1786.570269</td>
    </tr>
    <tr>
      <th>Low Fat</th>
      <td>2336.304175</td>
      <td>2667.532112</td>
      <td>1891.962043</td>
    </tr>
    <tr>
      <th>Regular</th>
      <td>2263.217991</td>
      <td>2736.535212</td>
      <td>1969.864121</td>
    </tr>
    <tr>
      <th>low fat</th>
      <td>2580.603811</td>
      <td>2579.172124</td>
      <td>1460.788159</td>
    </tr>
    <tr>
      <th>reg</th>
      <td>1867.364138</td>
      <td>2098.126029</td>
      <td>2175.291896</td>
    </tr>
  </tbody>
</table>